<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Library Admin Dashboard</title>
    <link rel="icon" href="/images/logo2.png"/>
    <link rel="stylesheet" href="/css/sidebar.css">
    <link rel="stylesheet" href="/css/admin.css">
    <link rel='stylesheet' href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css'/>
    <link href="/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
    <link href="/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <script>
        function fetchWithErrorHandler(url, options) {
            return fetch(url, options)
                .then(response => {
                    if (!response.ok && response.status === 400) {
                        return response.json().then(err => {
                            throw new Error(err.message);
                        });
                    }
                    return response.json();
                })
                .then(data => {
                    // Close the modal
                    $('#composeModal').modal('hide');
                    $('#editModal').modal('hide');
                    $('.modal-backdrop').remove();
                    // Clear the form fields
                    $('#regbookform').find('input:not([type=submit]),textarea,select').val('');
                    $('#editbookform').find('input:not([type=submit]),textarea,select').val('');
                    // The request was successful, update the table here
                    if (data.success) {
                        const tableBody = document.querySelector('#dataTable tbody');
                        if (!(tableBody instanceof HTMLTableSectionElement)) {
                            console.error('tableBody is not a reference to a tbody element');
                            return;
                        }
                        tableBody.innerHTML = ''; // Clear the table body
                        data.data.forEach(item => {
                            const tr = document.createElement('tr');

                            // Create checkbox cell
                            const checkboxCell = document.createElement('td');
                            const checkbox = document.createElement('input');
                            checkbox.type = 'checkbox';
                            checkbox.className = 'selectRow';
                            checkbox.name = 'bookidhidden';
                            checkbox.value = item.Book_id;
                            checkboxCell.appendChild(checkbox);
                            tr.appendChild(checkboxCell);
                            // Create text cells
                            ['Book_id', 'Title', 'Author_ID', 'Publisher_ID', 'Language', 'Copies_Available', 'Book_Status'].forEach(key => {
                                const td = document.createElement('td');
                                td.textContent = item[key];
                                tr.appendChild(td);
                            });

                            // Create dropdown cell
                            const dropdownCell = document.createElement('td');
                            // Add your dropdown HTML here
                            dropdownCell.innerHTML = `
                                <div class="dropdown">
                                    <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Action
                                    </button>
                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                        <a class="btn btn-primary dropdown-item edit-item" data-toggle="modal" data-target="#editModal" href="#">
                                            <i class='bx-fw bx bxs-edit'></i>
                                            Edit
                                        </a>
                                        <a class="btn btn-primary dropdown-item delete-item" data-toggle="modal" data-target="#deleteModal" href="#">
                                            <i class='bx-fw bx bxs-trash'></i>
                                            Delete
                                        </a>
                                    </div>
                                </div>
                            `;
                            tr.appendChild(dropdownCell);
                            tableBody.appendChild(tr);
                        });
                    } else {
                        // Handle the error here
                        throw new Error(data.message);
                    }
                })
                .catch(error => {
                    // Show your modal here
                    $('#errorModal .modal-body').text(error.message);
                    $('#errorModal').modal('show');
                });
        }
        $(document).ready(function() {
            $('#selectAll').on('change', function() {
                $('.selectRow').prop('checked', this.checked);
            });

            // Initially hide the delete button
            $('.delrowall').hide();

            // Show or hide the delete button when a checkbox is clicked
            $('.selectRow').on('change', function() {
                if ($('.selectRow:checked').length > 0) {
                    // If any checkboxes are checked, show the delete button
                    $('.delrowall').show();
                } else {
                    // If no checkboxes are checked, hide the delete button
                    $('.delrowall').hide();
                }
            });

            // Show or hide the delete button when the "select all" checkbox is clicked
            $('#selectAll').on('change', function() {
                if (this.checked) {
                    // If the "select all" checkbox is checked, show the delete button
                    $('.delrowall').show();
                } else {
                    // If the "select all" checkbox is unchecked, hide the delete button
                    $('.delrowall').hide();
                }
            });

            $('#composeModal').on('click', function(e) {
                e.stopPropagation();
            });

            $('.edit-item').on('click', function(e) {
                // e.stopPropagation();
                // Handle edit action here
                console.log('Edit clicked');
                var row = $(this).closest('tr');
                var id = row.find('td:eq(1)').text();
                var Title = row.find('td:eq(2)').text();
                var AuthorID = row.find('td:eq(3)').text();
                var PublisherID = row.find('td:eq(4)').text();
                var Language = row.find('td:eq(5)').text();
                var Copies = row.find('td:eq(6)').text();
                var Status = row.find('td:eq(7)').text();

                $('#editModal input[name="bookidhidden"]').val(id);
                $('#editModal input[name="editbooktitle"]').val(Title);
                $('#editModal input[name="autidhidden"]').val(AuthorID);
                $('#editModal input[name="pubidhidden"]').val(PublisherID);
                $('#editModal input[name="editbooklanguage"]').val(Language);
                $('#editModal input[name="editbookcopies"]').val(Copies);
                $('#editModal select[name="editbookstatus"]').val(Status);
            });
    
            $('.delete-item').on('click', function(e) {
                e.preventDefault();
                $(this).closest('tr').find('.selectRow').prop('checked', true);
                var ids = $('.selectRow:checked').map(function() {
                    return $(this).closest('tr').find('td:eq(1)').text();
                }).get();
                if(ids.length === 0) {
                    alert('Please select at least one book to delete.');
                    return;
                }
                $('#deleteModal input[name="bookidhidden"]').val(JSON.stringify(ids));
            });

            $('#regbookform').on('submit', function(e) {
                e.preventDefault();
                var dataToSend = $(this).serialize();
                // Make a request to the server to register a publisher
                fetchWithErrorHandler('/regNovelBook', {
                    method: 'POST',
                    headers: {
                    'Content-Type': 'application/x-www-form-urlencoded',
                    },
                    body: dataToSend,
                })
            });

            $('#editbookform').on('submit', function(e) {
                e.preventDefault();
                var dataToSend = $(this).serialize();
                // Make a request to the server to register a publisher
                fetchWithErrorHandler('/editNovelBook', {
                    method: 'POST',
                    headers: {
                    'Content-Type': 'application/x-www-form-urlencoded',
                    },
                    body: dataToSend
                })
            });
    
            $('#dataTable tbody tr').on('click', function() {
                $(this).find('.dropdown-toggle').dropdown('toggle');
            });
            // Close dropdowns when clicking outside of them
            $(document).on('click', function(e) {
                if (!$(e.target).closest('.dropdown').length) {
                    $('.dropdown').find('.dropdown-toggle').dropdown('hide');
                }
            });

            $('tr').contextmenu(function(e) {
                e.preventDefault();
                $(this).find('.dropdown-toggle').dropdown('toggle');
            });
        });
    </script>
</head>
<body>
    <div class="wrapper">
        <div class="sidebar2 close2">
            <div class="logo-details">
                <a href="/dashboard">
                    <i class='bx bxl-vimeo'></i>
                    <span class="logo_name">Veritas LMS</span>
                </a>
            </div>
            <ul class="nav-links">
                <li>
                    <a href="/dashboard">
                        <i class='bx bx-grid-alt' ></i>
                        <span class="link_name">Dashboard</span>
                    </a>
                    <ul class="sub-menu blank">
                        <li>
                            <a class="link_name" href="/dashboard">Dashboard</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <div class="iocn-link">
                    <a href="#">
                        <i class='bx bx-collection'></i>
                        <span class="link_name">Category</span>
                    </a>
                    <i class='bx bxs-chevron-down arrow' ></i>
                    </div>
                    <ul class="sub-menu">
                        <li>
                            <a class="link_name" href="#">Category</a>
                        </li>
                        <li>
                            <a href="/tableFiction">Fiction</a>
                        </li>
                        <li>
                            <a href="/tableMystery">Mystery</a>
                        </li>
                        <li>
                            <a href="/tableRomance">Romance</a>
                        </li>
                        <li>
                            <a href="/tableSciFi">Science Fiction</a>
                        </li>
                        <li>
                            <a href="/tableFantasy">Fantasy</a>
                        </li>
                        <li>
                            <a href="/tableThriller">Thriller</a>
                        </li>
                        <li>
                            <a href="/tableBiography">Biography</a>
                        </li>
                        <li>
                            <a href="/tableHorror">Horror</a>
                        </li>
                        <li>
                            <a href="/tableHistory">History</a>
                        </li>
                        <li>
                            <a href="/tableNovel">Novel</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <div class="iocn-link">
                        <a href="#">
                            <i class='bx bx-book-alt' ></i>
                            <span class="link_name">Records</span>
                        </a>
                        <i class='bx bxs-chevron-down arrow' ></i>
                    </div>
                    <ul class="sub-menu">
                        <li>
                            <a class="link_name" href="#">Records</a>
                        </li>
                        <li>
                            <a href="/tableLibrarian">Librarian</a>
                        </li>
                        <li>
                            <a href="/tableStudents">Students</a>
                        </li>
                        <li>
                            <a href="/tableTeachers">Teachers</a>
                        </li>
                        <li>
                            <a href="/tableStaff">Staff</a>
                        </li>
                        <li>
                            <a href="/tableBooks">Books</a>
                        </li>
                        <li>
                            <a href="/tableAuthors">Authors</a>
                        </li>
                        <li>
                            <a href="/tablePublisher">Publisher</a>
                        </li>
                        <li>
                            <a href="/tableFine">Fine</a>
                        </li>
                        <li>
                            <a href="/tableCheckout">Checkout</a>
                        </li>
                        <li>
                            <a href="/tableUsers">Accounts</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <div class="iocn-link">
                        <a href="#">
                            <i class='bx bx-history'></i>
                            <span class="link_name">History</span>
                        </a>
                        <i class='bx bxs-chevron-down arrow' ></i>
                    </div>
                    <ul class="sub-menu">
                        <li>
                            <a class="link_name" href="#">History</a>
                        </li>
                        <li>
                            <a href="/tableLibrarian">Borrowed Books Logs</a>
                        </li>
                        <li>
                            <a href="/tableStudents">Returned Books Logs</a>
                        </li>
                        <li>
                            <a href="/tableStaff">Reservation Logs</a>
                        </li>
                        <li>
                            <a href="/tableBooks">Transaction Logs</a>
                        </li>
                        <li>
                            <a href="/tableActivityLogs">Activity Logs</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#">
                        <i class='bx bx-cog' ></i>
                        <span class="link_name">Setting</span>
                    </a>
                    <ul class="sub-menu blank">
                        <li>
                            <a class="link_name" href="#">Setting</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <div class="profile-details">
                        <div class="profile-content">
                            <img class="logo" src="images/logo2.png" alt="Veritas Logo">
                        </div>
                        <div class="name-job">
                            <div class="profile_name"><%= user ? user.Name : 'Admin' %></div>
                            <div class="job"><%= user ? user.User_Role : 'Admin' %></div>
                        </div>
                            <i class='bx bx-log-out' data-toggle="modal" data-target="#logoutModal"></i>
                    </div>
                </li>
            </ul>
        </div>
        <section class="home-section">
            <div class="home-content">
                <i class='bx bx-menu' ></i>
                <span class="text">CT-0010</span>
            </div>
            <!-- <img src="images/bg4.png" alt="Veritas Logo"> -->
            <div class="tbltbl">
                <div class="container-fluid">
                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary">Novel Book's Data</h6>
                            <div class="twobtn">
                                <a class="btn btn-primary" data-toggle="modal" data-target="#composeModal" href="#">
                                    <i class='bx-fw bx bx-pencil bx-tada-hover'></i>
                                    Compose
                                </a>
                                <a class="btn btn-primary delrowall delete-item" data-toggle="modal" data-target="#deleteModal" href="#">
                                    <i class='bx-fw bx bxs-trash bx-tada-hover'></i>
                                    Delete
                                </a>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                    <thead>
                                      <tr>
                                        <th><input type="checkbox" id="selectAll"></th>
                                        <th>ID</th>
                                        <th>Title</th>
                                        <th>Author</th>
                                        <th>Publisher</th>
                                        <th>Language</th>
                                        <th>Available Copies</th>
                                        <th>Status</th>
                                        <th></th>
                                      </tr>
                                    </thead>
                                    <tfoot>
                                        <tr>
                                            <th></th>
                                            <th>ID</th>
                                            <th>Title</th>
                                            <th>Author ID</th>
                                            <th>Publisher ID</th>
                                            <th>Language</th>
                                            <th>Available Copies</th>
                                            <th>Status</th>
                                            <th></th>
                                        </tr>
                                    </tfoot>
                                    <tbody>
                                      <% data.forEach(item => { %>
                                        <tr>
                                            <td><input type="checkbox" class="selectRow" name="bookidhidden" value="<%= item.Book_id %>"></td>
                                            <td><%= item.Book_id %></td>
                                            <td><%= item.Title %></td>
                                            <td><%= item.Author_ID %></td>
                                            <td><%= item.Publisher_ID %></td>
                                            <td><%= item.Language %></td>
                                            <td><%= item.Copies_Available %></td>
                                            <td><%= item.Book_Status %></td>
                                            <td>
                                                <div class="dropdown">
                                                    <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                        Action
                                                    </button>
                                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                                        <a class="btn btn-primary dropdown-item edit-item" data-toggle="modal" data-target="#editModal" href="#">
                                                            <i class='bx-fw bx bxs-edit'></i>
                                                            Edit
                                                        </a>
                                                        <a class="btn btn-primary dropdown-item delete-item" data-toggle="modal" data-target="#deleteModal" href="#">
                                                            <i class='bx-fw bx bxs-trash'></i>
                                                            Delete
                                                        </a>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                      <% }); %>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                    <div class="modal-footer">
                        <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                        <a class="btn btn-primary" href="/logout">Logout</a>
                    </div>
                </div>
            </div>
        </div>
        <form id="regbookform" action="/regNovelBook" method="post">
            <div class="modal fade" id="composeModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">New Book</h5>
                            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">×</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="modalform">
                                <div class="inputbox">
                                    <input type="text" name="bookregtitle" required>
                                    <span>Title</span>
                                    <i></i>
                                    <ii class='bx bxs-book-add'></ii>
                                </div>
                                <div class="inputbox">
                                    <input type="text" name="bookregauthor" required>
                                    <span>Author</span>
                                    <i></i>
                                    <ii class='bx bxs-book-reader'></ii>
                                </div>
                                <div class="inputbox">
                                    <input type="text" name="bookregpublisher" required>
                                    <span>Publisher</span>
                                    <i></i>
                                    <ii class='bx bxs-purchase-tag'></ii>
                                </div>
                                <div class="inputbox">
                                    <input type="text" name="bookreglanguage" required="required">
                                    <span>Language</span>
                                    <i></i>
                                    <ii class='bx bxs-speaker'></ii>
                                </div>
                                <div class="inputbox">
                                    <input type="text" name="bookregcopies" required="required">
                                    <span>Available Copies</span>
                                    <i></i>
                                    <ii class='bx bxs-copy-alt'></ii>
                                </div>
                                <div class="inputbox">
                                    <select name="bookregstatus" title="Status" required>
                                        <option value="" selected></option>
                                        <option value="Available">Available</option>
                                        <option value="Not Available">Not Available</option>
                                    </select>
                                    <span>Status</span>
                                    <i></i>
                                    <ii class='bx bx-stats'></ii>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                            <input class="btn btn-primary" type="submit" href="/regNovelBook"></input>
                        </div>
                    </div>
                </div>
            </div>         
        </form>
        <form id="editbookform" action="/editNovelBook" method="post">
            <div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Edit Book</h5>
                            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">×</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="modalform">
                                <input type="hidden" name="bookidhidden">
                                <input type="hidden" name="autidhidden">
                                <input type="hidden" name="pubidhidden">
                                <div class="inputbox">
                                    <input type="text" name="editbooktitle" required>
                                    <span>Title</span>
                                    <i></i>
                                    <ii class='bx bxs-book-add'></ii>
                                </div>
                                <div class="inputbox">
                                    <input type="text" name="editbooklanguage" required="required">
                                    <span>Language</span>
                                    <i></i>
                                    <ii class='bx bxs-speaker'></ii>
                                </div>
                                <div class="inputbox">
                                    <input type="text" name="editbookcopies" required="required">
                                    <span>Available Copies</span>
                                    <i></i>
                                    <ii class='bx bxs-copy-alt'></ii>
                                </div>
                                <div class="inputbox">
                                    <select name="editbookstatus" title="Status" required>
                                        <option value="" selected></option>
                                        <option value="Available">Available</option>
                                        <option value="Not Available">Not Available</option>
                                    </select>
                                    <span>Status</span>
                                    <i></i>
                                    <ii class='bx bx-stats'></ii>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                            <input class="btn btn-primary" type="submit" href="/editNovelBook"></input>
                        </div>
                    </div>
                </div>
            </div>         
        </form>
        <form action="/delNovelBook" method="post">
            <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Are you sure?</h5>
                            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">×</span>
                            </button>
                        </div>
                        <div class="modal-body">Select "Delete" below if you are ready to delete this user</div>
                        <input type="hidden" name="bookidhidden">
                        <div class="modal-footer">
                            <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                            <input class="btn btn-primary" type="submit" href="/delNovelBook"></input>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <div class="modal fade" id="errorModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Invalid!</h5>
                        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-secondary" type="button" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="/js/veritas.js"></script>
    
    <!-- Core JavaScript-->
    <script src="/vendor/jquery/jquery.min.js"></script>
    <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="/js/sb-admin-2.min.js"></script>

    <!-- Page level plugins -->
    <script src="/vendor/datatables/jquery.dataTables.min.js"></script>
    <script src="/vendor/datatables/dataTables.bootstrap4.min.js"></script>

    <!-- Page level custom scripts -->
    <script src="/js/demo/datatables-demo.js"></script>
</body>
</html>